.wrapperRow {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  gap: 1rem;
  padding: 16px 16px 16px 16px;

  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 12px;

  width: 760px;
}

.hasCheck {
  text-decoration-line: line-through;
}

.delete {
  cursor: pointer;
}